/* MusicUploadForm.css */

.music-uplaod-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .file-input {
    display: none;
  }
  
  .choose-button {
    cursor: pointer;
    display: flex;
    background-color: #F0F0F0;
    align-items: center;
    border: 1px solid #B9B9B9;
    padding: 5px;
    border-radius: 3px;
    margin: 0 7px;
    height: 30px;    
}
  
  .file-info {
    margin-top: 10px;
  }
  .upload-button{
    cursor: pointer;
    display: flex;
    background-color: #F0F0F0;
    align-items: center;
    border: 1px solid #B9B9B9;
    padding: 5px;
    border-radius: 3px;
    margin: 20px 0;
    height: 30px; 
  }
  /* Add your own styling for the download icon */
  .download-icon {
    margin-right: 10px;
  }
  